          <div class="row d-flex justify-content-center">
              <p class="h1 text-light">
                ¡Bienvenido Joel!<br>
                ¿Que desea hacer?
              </p>
            </div>
            <br>

            <div class="row">
              <div class="col d-flex justify-content-center">
                  <div class="card" style="width: 15rem;">
                      <img class="card-img-top mx-auto" src="../../assets/images/gear_icon.png" alt="Card image cap" style="width:50%">
                      <div class="card-body">
                        <p class="card-text h4">Configurar<br>
                           Acceso</p>
                      </div>
                    </div>
              </div>

              <div class="col">
                  <div class="card" style="width: 15rem;">
                      <img class="card-img-top mx-auto" src="../../assets/images/report.png" alt="Card image cap" style="width: 50%">
                      <div class="card-body">
                        <p class="card-text h4">Ver<br>
                           Reportes</p>
                      </div>
                    </div>
              </div>


            </div>
            <br>
            <div class="row d-flex justify-content-center">
                <a class="btn btn-light btn-lg" href="#" role="button">Cerrar Sesión</a>
            </div>


