<div class="container-fluid h-100">
  <div class="row d-flex align-items-center h-100">
    <div class="col border d-flex justify-content-center">

      <div class="card">
        <img class="card-img-top rounded" src="../../assets/images/joel.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Joel Tapia</h4>
          <p class="card-text">Área de Finanzas</p>
          
        </div>
      </div>

    </div>
      <div class="col border">
        <div class="row d-flex align-items-center h-100">
          <p class='text-light'>!Bienvenido {{Nombre}}!</p>
          <p class='text-light'>Que deseas hacer?</p>
        </div>
        <div class="row d-flex align-items-center h-100">

        
        </div>
    </div>

  </div>

</div>
