  <div class="col-12">
      <form>
        <div class="form-group text-white text-left">
          <label for="InputPasswordOld" class="h2">CONTRASEÑA ACTUAL:</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >

        </div>
        <div class="form-group text-white text-left">
          <label for="InputPasswordOldNew1" class="h2">CONTRASEÑA NUEVA:</label>
          <input type="password" class="form-control" id="InputPasswordOldNew1">
        </div>
        <div class="form-group text-white text-left">
          <label for="InputPasswordOldNew2" class="h2">CONTRASEÑA NUEVA:</label>
          <input type="password" class="form-control" id="InputPasswordOldNew2">
        </div>
      </form>
      <a class="btn btn-secondary mt-4 mr-3" href="#" role="button"><h1>Guardar</h1></a>
      <a class="btn btn-secondary mt-4 ml-3" href="#" role="button"><h1>Cancelar</h1></a>
    </div>


