<div class="container-fluid h-100">

    <!-- Big Row -->
    <div class="row d-flex align-items-center h-100">

  <!-- User info division -->
      <div class="col-4 d-flex justify-content-center">

        <div class="card" >
          <img class="card-img-top rounded mx-auto shadow" src="../../assets/images/joel.png" alt="Card image" style="width:50%">
          <div class="card-body">
            <h4 class="card-title">Joel Tapia</h4>
            <p class="card-text">Área de Finanzas</p>

          </div>
        </div>

      </div>

  <!-- What to do division -->
        <div class="col d-flex justify-content-center">
          <app-menu></app-menu>
        </div>

      </div>
</div>
